body {
    padding-top: 40px;
    padding-bottom: 40px;
    background: #f5f5f5;
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
}
label {
    text-align: right;
}
.error {
    color: red;
    margin-left: 5px;
}
label.error {
    display: inline-block;
}

.navlinks {
    list-style: none;
    line-height: 20px;
}

.navlinks li {
    display: inline-block;
    margin-left: 10px;
}

.navlinks li a {
    color: #313131;
}

.d-btn {
    display: none;
}

.navbar-pos {
    position: relative;
}

.grey {
    color: #707070;
}
@media screen and (max-width: 768px) {
    #navmobile {
        display: none;
        position: absolute;
        top: 56px;
        background: #f8f9fa;
        width: 100%;
        box-sizing: border-box;
        left: 0;
        height: 200px;
        padding: 1rem 2.5rem;
    }
    .navlinks {
        float: right;
    }
    .navlinks li {
        display: block;
        margin-bottom: 10px;
    }
    .d-btn {
        display: inline-block;
    }
}
